html, body, #root, .react-root {
    height: 100%;
    width: 100%;
    background-color: white;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .centered {
    text-align: center;
  }
  
  button {
    padding: 10px;
    margin: 5px;
    border: 2px solid white;
    color: white;
    font-size: 20px;
    cursor: pointer;
  }

  button:hover {
      opacity: 0.8;
  }
  
  .red {
    background-color: rgb(182, 5, 5);
    color: white;
  }
  
  .blue {
    background-color: rgb(64, 64, 231);
    color: white;
  }
  
  .yellow {
    background-color: rgb(240, 240, 76);
    color: black;
  }